<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %> 
<body>
    <h1 class="text"><%= title %></h1>
    
    <%- include("partials/navbar.ejs") %>

    <ul>
        <% if(users){ %>
            <% users.forEach(user => { %>
                <li>
                    <%= user.name %>, <%= user.age %>: <%= user.email %>
                    <a href="/edit-user?id=<%= user._id %>">[EDIT]</div></a> - 
                    <a href="/remove-user/<%= user._id %>">[REMOVE]</div></a>
                </li>
            <% }) %>
        <% } %>
    </ul>

    <%- include("partials/foot.ejs") %> 
</body>
</html>