<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %> 
<body>
    <h1 class="text"><%= title %></h1>

    <%- include("partials/navbar.ejs") %>

    <form action="/register/add" method="POST">
        <div>
            <label>Name</label>
            <input type="text" name="name" placeholder="Type your name">
        </div>
        <div>
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Type your e-mail">
        </div>
        <div>
            <label>Age</label>
            <input type="text" name="age" placeholder="Type your age">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Type your password">
        </div>
        <button type="submit">Submit</button>
    </form>

    <% if(typeof message !== "undefined"){ %>
        <h2><%= message %></h1>
    <% } %>
    
    <%- include("partials/foot.ejs") %> 
</body>
</html>